<h1>Chat</h1>

<div class="products-container">
    <h1>Messages</h1>
    <div id="history">
        <span id="messages"></span>
        <span id="final"></span>
    </div>
    <input type="text" id="chatBox">
</div>

<a class="btn btn-primary" href="/">To Products</a>
<br>
<a class="btn btn-primary" href="/realTimeProducts">To Real Time</a>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./js/chatUser.js"></script>